body{
    background-color: rgb(235, 213, 213);
    margin: 0%;
    padding: 0%;
}
h1{
    color: orange;
}

.signup{
    text-align: center;
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0, 0.3);
    background: white;
    padding: 20px;
    margin: 8% auto 0;
    background-repeat: no-repeat;
    justify-content: center;

}

label, input, button{
    margin-top: 5%;

}
input{
    padding: 10px;
    border-radius: 10px;
    border: rgb(197, 169, 118) 1px solid;
    width: 80%;
}
label{
    font-size: large;
    display: inline-block;
    text-align: right;
}
button{
    padding: 5px 20px;
    font-size: larger;
    background-color: rgb(43, 224, 43);
    border: none;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: black;
}
.VEGETABLES{
    display: flex;
    gap: 40px;
    margin-bottom: 100px;
    margin-left: 40px;

}
.container{
    padding: 2%;
    width: 1200px;
    margin: 1%;
    border:solid none ;
    border-radius: 25px;
    /* background-color: rgb(239, 245, 239); */
    background-color: white;
}
#vege{
    padding: 2%;
    background-color: rgb(149, 194, 149);
    /* background-color: white; */
    /* background-color: rgb(172, 125, 125); */
    border: solid;
    border: none;
    border-radius: 15px;
    color: white;

}
img{
    width: 200px;
    height: 220 px;
}
p{
    margin: 2%;
    text-align: center;
}
button{
    align-self: center;
    margin-left: 70px;
    padding:10px 60px ;
    margin: 2%;
    border-radius: 10px;
    border: none;

}
h1{
    text-align: center;
    color: orange;


}
h2{
    text-align: center;
}
button:hover{
    cursor: pointer;
    color: orange;
}
img:hover{
    transform: scale(1.1);
    cursor: pointer;

}
@media screen and (max-width: 768px){
    .VEGETABLES{
        display: grid;
        grid-template-columns: 1r 1r 1r 1r;
        gap: 40px;
        margin-bottom: 100px;
        margin-left: 40px;
        width: 70%;
    
    }
    .container{
        padding: 2%;
        width: 100%;
        margin: 1%;
        border:solid none ;
        border-radius: 25px;
        background-color: rgb(115, 179, 115);
    }
    img{
        width: 80px;
        height: 100 px;
    }
     #vege{
        width: 100%;
    
    } 
    

}




@media screen and (max-width: 800px){
    body{
        overflow-x: hidden;
    }
    input{
        padding: 5px;
        border-radius: 5px;
        border: rgb(197, 169, 118) 1px solid;
        width: 40%;
    }
    .signup{
        box-shadow: 0 0 px 0 rgba(0,0,0, 0.3);
        background: white;
        padding: 0px;
        margin: 0% auto 0;
        background-repeat: no-repeat;
        justify-content: center;
      
        
    }
    
    }
    
    @media screen  and(max-width: 1200px){
    
        
    }
