/* 
.hamburger-menu {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #fff;
  z-index: 99;
}

.hamburger-button {
  position: relative;
  
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  cursor: pointer;
}

.hamburger-button .bar {
  position: relative;
  display: block;
  width: 10%;
  height: 2px;
  background-color: #000;
  margin: 0 10px;
  transition: 0.2s;
}

.hamburger-button .bar:nth-child(1) {
  transform: rotate(0deg);
}

.hamburger-button .bar:nth-child(2) {
  transform: rotate(0deg);
}

.hamburger-button .bar:nth-child(3) {
  transform: rotate(180deg);
}

.hamburger-menu.active .bar {
  transform: rotate(0deg);
}

.hamburger-menu.active .bar:nth-child(1) {
  transform: rotate(-90deg);
}

.hamburger-menu.active .bar:nth-child(2) {
  transform: rotate(0deg);
}

.hamburger-menu.active .bar:nth-child(3) {
  transform: rotate(90deg);
}
.nav-menu {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background-color: #d30e0e;
  display: none;
  z-index: 98;
}

.nav-menu li {
  list-style-type: none;
  padding: 10px 0;
}

.nav-menu li a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
}

.nav-menu li a:hover {
  color: #333;
} */
/* .nav-menu{
  display: flex;
  gap: 60px;
  display:inline-flex;
  width: 100%;

}
.nav-menu  li a{
  margin: 20%;
  text-decoration: none;
  margin-bottom: 10%;
} */
#logo {
    width: 50px;
    height: 50px;
    margin-top: 0%;
  }
  html{
    margin: auto;
  }
#PRODUCTS {
    text-align: center;
  }
  
  #PRODUCTS h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .container {
    margin-bottom: 40px;
  }
  
  .container h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  
  .VEGETABLES{
    width: 100%;
    display: flex;
    gap: 30px;
    margin-bottom: 80px;
    /* margin-left: 40px; */

}
.container{
    padding: 5%;
    width: 1200px;
    margin: 1%;
    border:solid none ;
    border-radius: 25px;
    /* background-color: rgb(239, 245, 239); */
    background-color: white;
}
#vege{
  width: 100%;
    padding: 2%;
    background-color: rgba(189, 226, 189, 0.7);
    /* background-color: white; */
    /* background-color: rgb(172, 125, 125); */
    border: solid;
    border: none;
    border-radius: 15px;
    color: white;

}
.veege{
  width: 60%;
    padding: 2%;
    align-items: center;
    background-color: rgba(195, 230, 195, 0.7);
    /* background-color: white; */
    /* background-color: rgb(172, 125, 125); */
    border: solid;
    border: none;
    border-radius: 15px;
    color: white;
    padding-top: 1%;


}
#pp{
    height: 200px;
}
#tm{
  width: 250px;
}
#melon{
    width: 205px;
    height: 190px;
}
#ban{
    height:205px ;
}
img{
  position: relative;
  left: 50px;
    width: 200px;
    height: 218 px;
}
p{
  color: orchid;
    margin: 2%;
    text-align: center;
}
button a{
  text-decoration: none;
  color: white;

  
}
button{

  list-style: none;
    align-self: center;
    background-color: #198d4d;
    margin-left: 70px;
    padding:5px 20px ;
    margin: 5%;
    border-radius: 10px;
    color: white;
    
    border: none;

}
h1{
    text-align: center;
    color: black;
    font-size: xx-large;


}

h2{
    text-align: center;
    padding-right: 250px;
}
button:hover{
    cursor: pointer;
    color: orange;
}
img:hover{
    transform: scale(1.1);
    cursor: pointer;

}
.a2{
    margin-bottom: 79px;
    width: 90%;
}
.a3{
    /* background-color: blue; */
    /* width: 50%; */

    /* background-image: url(images/image6_480.jpg); */

  }
  #categories {
    text-align: center;
    padding: 2%;
  }
  
  #categories h1 {
    font-size: 24px;
    margin-bottom: 20px;
    
  }
  footer{
    background-color: rgb(81, 143, 81);

  }
  #reviews{
    width: 80%;
    margin-left: 8%;
  }
  
  
  
  .Footer{
    margin-left: 2%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
   
    background-size: cover;
    height: 18vh;
    position: relative;
    /* top: 300px; */
    color: white;
    line-height: 25px;
    padding: 0px 0px 0px 10px;
}
#cat{
  height: 150px;
}
li{
  list-style: none;
  font-size:large;
}

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body {
  background-color: #353836;
  color: white;
  font-family: "Poppins", sans-serif;
} */

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color:rgb(92, 169, 92);
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand a {
  color: #09c372;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  list-style:none;
  color:white;
}

ul li {
  
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

/* #login,
#signup {
  border-radius: 5px;
  padding: 5px 8px;
}

#login {
  border: 1px solid #498afb;
}

#signup {
  border: 1px solid #ff3860;
}

#signup a {
  color: #ff3860;
}

#login a {
  color: #498afb;
} */

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  header nav {
    background-color: black;
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
  ul{
    background-color: black;
    height: 20%;
  }
}


@media screen and (max-width: 768px){
  .body{
      overflow-x: hidden;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      outline: none;
      width: 100%;
  }
  .VEGETABLES{
      display: grid;
      grid-template-columns: 1r 1r 1r 1r;
      gap: 60px;
      margin-bottom: 100px;
      margin-left: 1px;
      width: 90%;
  
  }
  .container{
      /* padding: 2%; */
      width: 100%;
      /* margin: 1%; */
      border:solid none ;
      border-radius: 25px;
     
  }
  img{
      width: 150px;
      height: 100 px;
  }
  #tm{
    width: 200px;
  }
   #vege{
      width: 100%;
  
  } 
  #pp{
      height: 100px;
  }
  #melon{
      width: 200px;
      height: 180px;
  }
  #ban{
      height:100px ;
  }
  .Footer{
    margin-left: 4%;
    width:90% ;
    display: grid;
    grid-template-columns:repeat(1,1fr);
    margin: 2%;
    height: 400px;

}
h1{
  margin-right:10%;
  text-align: center;
}
h2{
  text-align: center;

}
nav {
  color: white;
  background-color: #8fe0b4;
  width: 100%;
}
#categories {
  margin-left: 2%;
  width: 100%;
  text-align: center;
}

  

}
